<div class="navigation">
  <div>
    <a class="nav-block" href="/earn"
      ><img src="../assets/img/earn.png" />earn</a
    >
  </div>
  <div>
    <a class="nav-block" href="/calc"
      ><img src="../assets/img/calc.png" style="opacity: 60%" />calc</a
    >
  </div>
  <div>
    <a class="nav-block" href="/map"><img src="../assets/img/map.png" />map</a>
  </div>
  <div>
    <a class="nav-block" href="/percs"
      ><img
        src="../assets/img/cube.png"
        style="width: 19px; height: 19px; padding-bottom: 2px"
      />percs</a
    >
  </div>
  <div>
    <a class="nav-block" href="/profile"
      ><img src="../assets/img/profile.png" />profile</a
    >
  </div>
</div>
