<div class="perc-content">
  <div class="perc-tite">Percs</div>
  <div class="block-invite-back">
    <div class="block-invite">
      <div class="first-block-frens">
        <div class="invite">
          <img style="margin-right: 4px" src="../assets/img/frens.png" />invite
          friend
        </div>
        <div>Score 5% from buddies + 1.5% <br />from their refferals</div>
      </div>
      <div class="second-block-frens">
        <div class="block-border">
          <div>invite</div>
        </div>
      </div>
    </div>
  </div>
  <div class="view-frens-back">
    <div class="view-frens">
      <span class="view-frens-text"> view frens </span>
      <img src="../assets/img/down-arrow.png" />
    </div>
  </div>
  <div class="block-invite-back1">
    <div class="block-invite">
      <div class="colomn-block">
        <span class="font-size14">proof of activity</span>
        <span class="padding-14px">+1,000 bp</span>
        <div class="start-back">
          <button class="start1">start</button>
        </div>
      </div>
    </div>
  </div>
  <div class="view-frens-back">
    <div class="view-frens">
      <img src="../assets/img/telegram.png" />
      <div class="colomn-block font-size8 padding-left13">
        <span class="width125px">follow beerBot on Telegram</span>
        <span>+250 bp</span>
      </div>
      <div class="margin-left42 start-back">
        <button class="start">start</button>
      </div>
    </div>
  </div>
  <div class="view-frens-back">
    <div class="view-frens">
      <img src="../assets/img/telegram.png" />
      <div class="colomn-block font-size8 padding-left13">
        <span class="width125px">join our Telegram community</span>
        <span>+250 bp</span>
      </div>
      <div class="margin-left42 start-back">
        <button class="start">start</button>
      </div>
    </div>
  </div>
  <div class="view-frens-back">
    <div class="view-frens">
      <img src="../assets/img/telegram.png" />
      <div class="colomn-block font-size8 padding-left13">
        <span class="width125px">follow beerBot on Instagram</span>
        <span>+250 bp</span>
      </div>
      <div class="margin-left42 start-back">
        <button class="start">start</button>
      </div>
    </div>
  </div>
  <div class="view-frens-back">
    <div class="view-frens">
      <img src="../assets/img/telegram.png" />
      <div class="colomn-block font-size8 padding-left13">
        <span class="width125px">follow beerBot on Tik Tok</span>
        <span>+250 bp</span>
      </div>
      <div class="margin-left42 start-back">
        <button class="start">start</button>
      </div>
    </div>
  </div>
</div>
